@import './variables.scss';

$rads1: '10px 0';
$rads2: '0 10px';

.Faq {
  color: $black;
  font-size: 14px;
  @at-root {
    #{&}__icon {
      font-size: 20px;
    }
    #{&}__title,
    #{&}__search,
    #{&}__search-btn,
    #{&}__new-question {
      display: flex;
      align-items: center;
      height: 35px;
    }

    // title and search system styling
    #{&}__title {
      margin: 0 20px 10px 40px;
    }
    #{&}__h3 {
      flex-grow: 1;
      font-size: 28px;
    }
    #{&}__search-container {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
    #{&}__search,
    #{&}__search-btn {
      padding: 0 10px;
      border-radius: 10px;
      font-family: inherit;
      font-size: inherit;
    }
    #{&}__search,
    #{&}__search-icon,
    #{&}__plus-icon {
      margin-right: 10px;
    }
    #{&}__search {
      border: 1px solid #e3e3e3;
      flex-grow: 0.4;
      min-width: 120px;
    }
    #{&}__search::placeholder {
      font-style: italic;
    }
    #{&}__search-btn {
      background-color: $blue;
      color: white;
      cursor: pointer;
      font-weight: 500;
      border: none;
    }

    // table specific styling
    #{&}__table {
      width: calc(100% - 80px);
      text-align: center;
      margin: 0 40px;
      border-spacing: 0 10px;
    }
    #{&}__tr {
      background-color: $blue;
      color: white;
      height: 35px;
    }
    #{&}__th {
      font-weight: 500;
    }
    #{&}__tr-body {
      height: 40px;
      box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.3);
    }
    #{&}__new-question {
      justify-content: center;
    }
    #{&}__answer,
    #{&}__first-td,
    #{&}__first-th {
      text-align: justify;
    }
    #{&}__first-td,
    #{&}__first-th {
      padding-left: 25px;
      cursor: pointer;
    }
    #{&}__answer {
      padding: 10px 35px;
      text-align: justify;
      width: 60%;
    }
    #{&}__first-th {
      border-radius: #{$rads1} #{$rads2};
    }
    #{&}__last-th {
      border-radius: #{$rads2} #{$rads1};
    }
    #{&}__td--show-m {
      display: none;
    }
  }
}
.fa-edit {
  color: $blue
}
.fa-trash {
  color: $red
}

@media (max-width: 600px) {
  .Faq {
    @at-root {
      #{&}__title {
        flex-direction: column;
        height: auto;
        margin: 0 10px;
      }
      #{&}__h3 {
        font-size: 24px;
        text-align: center;
        margin: 0 auto 15px;
      }
      #{&}__search-container {
        display: flex;
        width: 98%;
      }
      #{&}__search {
        width: 100%;
      }

      #{&}__table {
        margin: 0 auto;
        width: 94%;
      }
      #{&}__new-question {
        border-radius: #{$rads2} #{$rads1};
      }
      #{&}__td--show-m {
        display: table-cell;
      }
      #{&}__th--hide-m {
        display: none;
      }
      #{&}__answer {
        width: auto;
        padding: 15px 15px 15px 35px;
      }
      #{&}__icon--show-m {
        margin: 10px 10px 10px 0;
      }
    }
  }
}
