@import './variables.scss';

.header {
  margin-bottom: 40px;
  @at-root
  #{&}__nav,
  #{&}__list,
  #{&}__list-item {
    display: flex;
    align-items: center;
  }
  @at-root #{&}__nav {
    background-color: $blue;
    height: 3rem;
    padding: 1rem 0;
    color: white;
  }
  @at-root #{&}__logo {
    height: 45px;
    margin-left: 45px;
    margin-top: 5px;
    min-height: 30px;
    @at-root #{&}--grow {
      flex-grow: 1;
    }
  }
  @at-root #{&}__list {
    list-style: none;
    width: 155px;
    font-size: 16px;
    justify-content: space-between;
    margin-right: 40px;
  }
  @at-root #{&}__list-item {
    flex-direction: column;
    font-weight: 500;
  }
  @at-root #{&}__icon {
    width: 20px;
  }
  @at-root #{&}__btn-group {
    margin: 20px 0 0 20px;
  }
  @at-root #{&}__btn {
    all: unset;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 20px 0 0 20px;
    color: $grey;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    min-width: 45px;
    text-align: center;
  }
  @at-root #{&}__btn--active {
    background-color: $blue;
    color: white;
    box-shadow: none;
    font-weight: 500;
  }
}

@media (max-width: 500px) {
  .header {
    margin-bottom: 20px;
    @at-root #{&}__nav {
      height: 2rem;
    }
    @at-root #{&}__logo {
      margin-left: 15%;
      height: 10vw;
    }
    @at-root #{&}__list {
      margin-right: 25px;
      font-size: 14px;
      width: auto;
      flex-grow: 1;
    }
    @at-root #{&}__btn-group {
      margin: 20px 0 0;
      text-align: center;
    }
    @at-root #{&}__btn {
      margin: 10px 0 0 10px;
      padding: 5px 10px;
    }
  }
}
